  <a class="active item">
    Chatroom
  </a>
  <a class="item">
    Messages
  </a>


  <a class="item">
    logout
  </a>
  <a class="item">
    login
  </a>
  <a class="item">
    signin
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  </div>