
  <%= link_to 'Chatroom', root_path, class: 'item'%>
  <%= link_to 'Messages', root_path, class: 'item'%>
  
  <div class="right menu">
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path, class: 'item', method: :delete%>
    <% else %>
      <%= link_to 'Login', login_path, class: 'item'%>
    <% end %>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  </div>